* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}
/* miama font  */
@font-face {
  font-family: "Miama";
  src: url("../font/Miama.otf") format("truetype");
}

body {
  background-color: rgb(0, 0, 0);
}

/* shared styles */
.btn-primary {
  padding: 8px 20px;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 2.8rem;
  background: #e6533c;
  border: none;
}
.btn-1 {
  padding: 8px 20px;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 2.8rem;
  border: 1px solid #fff;
}
/* header related styles */
.header {
  background: linear-gradient(
    180deg,
    #11111186 0%,
    rgba(119, 119, 119, 0.363) 100%
  );
  padding-top: 3.6rem;
  height: 100vh;
}

/* navbar related styles */
.navbar-container,
.change-container,
.run-extra-container,
.bmi-calculator-container {
  max-width: 1180px;
  margin: 0 auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar h3 {
  color: #e6533c;
  font-size: 2.2rem;
  font-style: italic;
  font-weight: 800;
}

.nav-list {
  display: flex;
  align-items: center;
  border-radius: 39px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 4px;
}

.nav-item {
  list-style: none;
  margin-right: 2rem;
}

.nav-link {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
}
.hidden {
  display: none;
  color: #fff;
}

/* banner related styles */
.banner-container {
  display: flex;
  justify-content: space-between;
  max-width: 1180px;
  margin: 0 auto;
  position: relative;
}
.banner-content-tittle {
  color: #fff;
  font-size: 4.8rem;
  font-weight: 900;
  margin-top: 6rem;
  line-height: 120%;
}
.shape {
  color: #fff;
  font-family: "Miama";
  font-size: 7rem;
  font-weight: 400;
}
.banner-content-description {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1rem;
  font-weight: 400;
  margin: 28px 0px;
  max-width: 60%;
}
.button-container {
  display: flex;
  gap: 14px;
}
.position {
  position: absolute;
  border-radius: 12px;
  background: rgba(48, 48, 48, 0.54);
  backdrop-filter: blur(10px);
  padding: 1rem 1.7rem;
  bottom: 70px;
  right: 260px;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 10px;
}
.position h3 {
  font-size: 1.5rem;
  font-weight: 900;
}
.position-1 {
  position: absolute;
  border-radius: 12px;
  background: rgba(48, 48, 48, 0.54);
  backdrop-filter: blur(10px);
  padding: 1rem;
  top: 140px;
  right: -40px;
  color: #fff;
}
.position-1 h3 {
  font-size: 2.5rem;
  font-weight: 900;
}

/* Change Your Habits section related styles */
.habit {
  margin: 6.25rem 0rem;
}
.change-tittle {
  color: #fff;
  font-size: 3rem;
  font-weight: 900;
  text-align: center;
}
.change-description {
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  font-size: 0.875rem;
  font-weight: 400;
  margin-top: 0.8rem;
  margin-bottom: 3.62rem;
}
.change-img-container {
  display: flex;
  gap: 2.5rem;
}
.hello > img {
  border-radius: 50%;
  border: 4px solid rgba(0, 0, 0, 0.103);
}
.change-img-tittle {
  color: #fff;
  font-size: 1.125rem;
  font-weight: 600;
  text-align: center;
  margin-top: 0.8rem;
  margin-bottom: 0.3rem;
}
.change-img-description {
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  font-size: 0.875rem;
  font-weight: 400;
}
.hello {
  display: flex;
  justify-content: center;
}
/* Run Extra section related styles */
.run-extra-container {
  display: flex;
  padding: 30px 30px 20px 54px;
  justify-content: flex-end;
  align-items: center;
  gap: 165px;
  border-radius: 18px;
  background: #222;
}
.run-extra-text-title {
  color: #fff;
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 0.5rem;
}
.run-extra-text-description {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.875rem;
  font-weight: 400;
  margin-bottom: 1.8rem;
}
.run-extra-image-container img {
  width: 345px;
  height: 280px;
  object-fit: cover;
  border-radius: 18px;
}
.join {
  padding: 1rem 4rem;
}
/* BMI Calculator chart related styles */
.bmi-calculator-chart-tittle{
    color: #FFF;
font-size: 1.75rem;
font-weight: 900;
margin-bottom: 3.25rem;
}
.bg-gray{
    background: #222;
}
table {
  border-collapse: collapse;
}
td,th {
  border: 2px solid rgba(255, 255, 255, 0.10);;
  padding: 8px 20px;
  text-align: center;
  width: 150px;
}
tr>th{
color: #FFF;
font-size: 1rem;
font-weight: 500;
}
tr>td{
color: rgba(255, 255, 255, 0.50);
font-size: 0.875rem;
font-weight: 400;
}

.bmi-calculator-container{
    display: flex;
    gap: 10rem;
    padding-top: 3.25rem;
}
.bmi-calculator-input-tittle{
color: #FFF;
font-size: 1.75rem;
font-weight: 900;
margin-bottom: 0.8rem;
}
.bmi-calculator-input-description{
color: rgba(255, 255, 255, 0.50);
font-size: 0.875rem;
font-weight: 400;
margin-bottom: 2rem;
}
input,select{
padding: 0.75rem 2.5rem 0.75rem 1.25rem;
padding: 1rem;
border-radius: 0.5rem;
background: rgba(255, 255, 255, 0.10);
border: none;
margin-bottom: 10px;
margin-right: 5px;
}
.flex{
    display: flex;
}
.flex>input,.flex>select{
    width: 50%;
}
#factor{
    width: 100%;
}
