* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}
/* miama font  */
@font-face {
            font-family: 'Miama';
            src: url('../font/Miama.otf') format('truetype');
        }

body {
  background-color: black;
}

/* shared styles */
.btn-primary {
  padding: 8px 20px;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 2.8rem;
  background: #e6533c;
}
.btn-1 {
  padding: 8px 20px;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 2.8rem;
  border: 1px solid #fff;
}
/* header related styles */
.header {
  background: linear-gradient(180deg, #11111186 0%, rgba(119, 119, 119, 0.363) 100%);
  padding-top: 3.6rem;
  height: 100vh;
}

/* navbar related styles */
.navbar-container,.change-container {
  max-width: 1180px;
  margin: 0 auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar h3 {
  color: #e6533c;
  font-size: 2.2rem;
  font-style: italic;
  font-weight: 800;
}

.nav-list {
  display: flex;
  align-items: center;
  border-radius: 39px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 4px;
}

.nav-item {
  list-style: none;
  margin-right: 2rem;
}

.nav-link {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
}
.hidden {
  display: none;
  color: #fff;
}

/* banner related styles */
.banner-container {
  display: flex;
  justify-content: space-between;
  max-width: 1180px;
  margin: 0 auto;
  position: relative;
}
.banner-content-tittle {
  color: #fff;
  font-size: 4.8rem;
  font-weight: 900;
  margin-top: 6rem;
  line-height: 120%;
}
.shape {
  color: #fff;
  font-family: 'Miama';
  font-size: 7rem;
  font-weight: 400;
}
.banner-content-description {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1rem;
  font-weight: 400;
  margin: 28px 0px;
  max-width: 60%;
}
.button-container {
  display: flex;
  gap: 14px;
}
.position {
  position: absolute;
  border-radius: 12px;
  background: rgba(48, 48, 48, 0.54);
  backdrop-filter: blur(10px);
  padding: 1rem 1.7rem;
  bottom: 70px;
  right: 260px;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 10px;
}
.position h3 {
  font-size: 1.5rem;
  font-weight: 900;
}
.position-1 {
  position: absolute;
  border-radius: 12px;
  background: rgba(48, 48, 48, 0.54);
  backdrop-filter: blur(10px);
  padding: 1rem;
  top: 140px;
  right: -40px;
  color: #fff;
}
.position-1 h3 {
  font-size: 2.5rem;
  font-weight: 900;
}

/* Change Your Habits section related styles */
.habit{
  margin: 6.25rem 0rem;
}
.change-tittle{
color: #FFF;
font-size: 3rem;
font-weight: 900;
text-align: center;
}
.change-description{
color: rgba(255, 255, 255, 0.50);
text-align: center;
font-size: 0.875rem;
font-weight: 400;
margin-top: 0.8rem;
margin-bottom: 3.62rem;
}
.change-img-container{
    display: flex;
    gap: 2.5rem;
}
.hello>img{
    border-radius: 50%;
    border: 4px solid rgba(0, 0, 0, 0.103);
}
.change-img-tittle{
color: #FFF;
font-size: 1.125rem;
font-weight: 600;
text-align: center;
margin-top: 0.8rem;
margin-bottom: 0.3rem;
}
.change-img-description{
color: rgba(255, 255, 255, 0.50);
text-align: center;
font-size: 0.875rem;
font-weight: 400;
}
.hello{
    display: flex;
    justify-content: center;
}
/* responsive for mobile devices */
@media screen and (max-width: 576px) {
    /* header related styles  */
  .header {
    padding-top: 20px;
    height: 100%;
  }
  /* nav related styles  */
  .navbar {
    padding: 0 20px;
  }
  .nav-list {
    display: none;
  }
  .hidden {
    display: flex;
  }
  /* banner related styles */
  .banner-container {
    flex-direction: column;
    justify-content: center;
  }
  .shape {
    font-size: 3rem;
    font-weight: 400;
  }
  .banner-content {
    padding-left: 20px;
  }
  .banner-content-tittle {
    font-size: 36px;
    font-weight: 900;
    margin-top: 2.3rem;
  }
  .banner-content-description {
    color: rgba(255, 255, 255, 0.5);
    font-size: 16px;
    font-weight: 400;
    margin: 28px 0px;
  }
  .banner-img {
    margin: 0 auto;
  }
  .position-1 {
    top: 450px;
    right: 40px;
  }
  .position-1 p {
    font-size: 10px;
  }
  .position {
    bottom: 250px;
    left: 20px;
  }
  .position p {
    font-size: 10px;
  }
/* Change Your Habits related styles  */
.change-container{
    margin: 0.2rem 3.62rem ;
}
.change-tittle{
    font-size: 1.6rem;
}
.change-img-container{
    flex-direction: column;
}


}